
@{
    ViewBag.Title = "Index";
}

<!-- banner bottom -->
<section class="w3ls-bnrbtm py-5" id="about">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-md-5 mb-sm-4 mb-2 text-center font-weight-bold">About Us</h3>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="~/Content/images/about1.jpg" alt="about" class="img-fluid mt-4" />

            </div>
            <div class="col-lg-6 pr-xl-5 mt-4">
                <h3 class="title-sub mb-4">Khoa Công Nghệ Thông Tin (CNTT) </h3>
                <p class="sub-para">
                    Khoa Công Nghệ Thông Tin (CNTT) được thành lập từ tháng 09/1990 và là một trong những Khoa được thành lập đầu tiên của trường Đại Học Mở Tp. Hồ Chí Minh. Trải qua hơn 30 năm xây dựng và phát triển, hiện nay Khoa có đội ngũ giảng viên cơ hữu giàu kinh nghiệm và tận tâm gồm các Tiến sĩ, Thạc sĩ tốt nghiệp từ các trường danh tiếng trong và ngoài nước cùng với các giảng viên thỉnh giảng đến từ các trường Đại học, viện nghiên cứu uy tín ở TP HCM. Khoa đã đào tạo và cung cấp nguồn nhân lực có chất lượng cho xã hội với số lượng xấp xỉ 5.500 cử nhân khoa học hệ chính quy khối ngành Công nghệ thông tin (Khoa học máy tính, Tin học, Hệ thống thông tin quản lý) và hàng ngàn cử nhân Tin học hệ không chính quy.

                    Khoa đào tạo nhân lực cho ngành CNTT có đạo đức, có kiến thức lý thuyết tốt, có kỹ năng thực hành thành thạo, có khả năng nắm bắt được những vấn đề mới của sự phát triển ngành, phục vụ sự nghiệp công nghiệp hóa hiện đại hóa đất nước thông qua quá trình tin học hóa các lĩnh vực quản lý kinh tế, quản lý sản xuất, quản lý xã hội, giáo dục, …

                    
                </p>

            </div>
        </div>
    </div>
       

</section>
<!-- //banner bottom -->
